<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Portail</title>
</head>
<body>
<h1 align="center">Eiffel Bike Corp Location Services</h1>
<h3 align="center">Add funds !</h3>
<form th:action="@{/entry}" method="post">
    <h2>Hello <span th:text="${name}"></span> !</h2>
    <div>
        <label>Funds : </label>
        <input type="text" name="funds" th:object="${funds}">
        <p th:if="${#fields.hasErrors('funds')}" th:errors="*{funds}">Funds Error</p>
    </div>
    <div align="center">
        <button type="submit" name="ok">OK</button>
        <button type="submit" name="return">Back</button>
    </div>
</form>
</body>
</html>