<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Eiffel Bike Services</title>
</head>
<body>
<h1 align="center">Eiffel Bike Corp Location Services</h1>
<h3 align="center">Add bike form</h3>
<div align="center">
  <form method="post">
    <div>
      <label>State : </label>
      <input type="text" name="etat" th:object="${etat}">
      <p th:if="${#fields.hasErrors('etat')}" th:errors="*{etat}">State Error</p>
    </div>
    <div>
      <label>Price : </label>
      <input type="number" min="1" step="any"  name="price" th:object="${price}">
      <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
    </div>
    <button type="submit" name="add">Add</button>
    <button type="submit" name="return">Back</button>

    <div>
      <p th:if="${result}"><span th:text="${result}"></span></p>
    </div>

  </form>
</div>
</body>
</html>